.viewChatCont{
    position: fixed;
    height: 25%;
    background: transparent;
    z-index: 100;
    overflow: scroll !important;
}

.chatName{
    font-size: 9px;
    font-weight: 200;
    color: #FE7463;
}
  
.chatMessage{
    font-size: 11px;
    font-weight: 600;
    color: #F9F9F9;
}

.chatView {
    display: flex;
    align-items: center;
    height: auto;
    background: #070707;
    opacity: 0.71;
    border-radius: 0px 18px 18px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 18px;
   
}

.chatBody{
    width: 100%;
}
