.chatCont {
/*   border-radius: 25px;
  background: rgba(61, 61, 61, 0.479);
  display: flex;
  position: absolute;
  z-index: 9999;
  padding: 10px;
  margin: 25px; */
  background: transparent;
  position: absolute;
  display: flex;
  z-index: 9998;
  
}

.inputChat {
  width: 100% !important;
  height: 48px !important;
  border: none !important;
  background-color: transparent !important;
}
.chatMessage {
  display: flex;
  align-items: center;
}

.sendMessage {
  width: 100%;
  background-color:#A5A5A5;
  opacity: 1;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
 padding-right: 10px;
 
}
.chatItem{
   height: 60px;
   width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}
